docker.enabled = true
SoupX_scDblFinder.container = 'adolforojas/latincells-seurat:latest'
Seurat_Object_creation.container = 'adolforojas/latincells-seurat:latest'
Seurat_QC_integration.container = 'adolforojas/latincells-seurat:latest'
Seurat_Cell_Annotation.container = 'adolforojas/latincells-seurat:latest'
Seurat_create_object_mouse.container = 'adolforojas/latincells-seurat:latest'